.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.stethoscope_c1 {

  animation: stethoscope-c1 2s ease-in-out infinite alternate;
  background: #00ffd2;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.stethoscope_c2 {
  background: #242526;
  height: 37vh;
  width: 37vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.stethoscope_c3 {
  animation: stethoscope-c3 2s ease-in-out infinite alternate;
  background: #00ffd2;
  height: 33vh;
  width: 33vh;
  opacity: 0.4;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.stethoscope_wire {
  height: 30vh;
  width: 50vw;
  display: flex;
  /* border-bottomRightRadius: "10rem", */
  border-bottom-right-radius: 10rem;
  border-right: .3rem solid #00ffd2;
  border-bottom: .3rem solid #00ffd2;
  justify-content: center;
  align-items: start;
}


@keyframes stethoscope-c3 {
  0% {
    scale: 1;
  }

  25% {
    scale: 1;
  }

  50% {
    scale: 1;
  }

  100% {
    scale: .9;
  }

}



@keyframes stethoscope-c1 {
  0% {
    scale: 1;
  }

  25% {
    scale: 1.2;
  }

  50% {
    scale: 1;
  }

  100% {
    scale: 100;
  }

}

@media (max-width: 768px) {
  .stethoscope_c1 {
    height: 35vh;
    width: 35vh;
  }

  .stethoscope_c2 {
    height: 33vh;
    width: 33vh;
  }

  .stethoscope_c3 {
    height: 30vh;
    width: 30vh;
  }

  .stethoscope_wire {
    border-bottom-right-radius: 8rem;
  }

}

@media (max-width: 480px) {
  .stethoscope_c1 {
    height: 30vh;
    width: 30vh;
  }

  .stethoscope_c2 {
    height: 27vh;
    width: 27vh;
  }

  .stethoscope_c3 {
    height: 24vh;
    width: 24vh;
  }

  .stethoscope_wire {
    border-bottom-right-radius: 7.5rem;
  }

}


.title {
  animation: title 2s ease-in-out;
}

@keyframes title {
  0% {
    opacity: 0;
  }



  100% {
    opacity: 1;
  }

}

.launch_photo {
  width: 30%;
  height: 30%;
  object-fit: cover;
  animation: launch_photo 1s ease-in-out;
}

@keyframes launch_photo {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


@media (max-width: 768px) {
  .launch_photo {
    width: 70%;
    height: 70%;
  }
}


@media (max-width: 480px) {
  .launch_photo {
    width: 70%;
    height: 70%;
  }
}

@media (max-height: 700px) {
  .launch_photo {
    width: 40%;
    height: 40%;
  }
}

.launch_title {
  animation: launch_title .5s ease-in-out;
}

@keyframes launch_title {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.launch_subtitle {
  animation: launch_subtitle .5s ease-in-out;
}

@keyframes launch_subtitle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.launch_store {
  animation: launch_store .5s ease-in-out;
}

@keyframes launch_store {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}